# Node.js dependencies
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage directory
coverage/

# Environment variables
.env
.env.test

# MacOS files
.DS_Store

# IDE files
.vscode/
.idea/

# Build output
dist/
build/

# Temporary files
tmp/
temp/

# Yarn
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*

# npm
package-lock.json
